.user-avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.31);
    margin-top: 5px;
}

.btn-primary {
    background-color: #51cbce;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover,
.show>.btn-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
    background-color: #34b5b8 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
}

.btn-primary:not([data-action]):hover {
    box-shadow: none;
}

.btn:disabled
{
    opacity: 0.5;
    filter: alpha(opacity=50);
    pointer-events: none;
}


.btn-round {
    border-width: 1px;
    border-radius: 30px;
    padding-right: 23px;
    padding-left: 23px;
}

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #9A9A9A;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #66615B;
}


.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #E3E3E3;
    color: #66615B;
    cursor: not-allowed;
}



textarea.form-control {
    max-width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    border: none;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    line-height: 2;
}

.form-group input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}



button,
input,
optgroup,
select,
textarea {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}


.card-user form .form-group {
    margin-bottom: 20px;
}


img {
    max-width: 100%;
    border-radius: 3px;
}


.card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card[data-background-color="orange"] {
    background-color: #51cbce;
}

.card[data-background-color="orange"] .card-header {
    background-color: #FE980F;
}


.card[data-background-color="red"] {
    background-color: #ef8157;
}

.card[data-background-color="yellow"] {
    background-color: #fbc658;
}

.card[data-background-color="blue"] {
    background-color: #51bcda;
}

.card[data-background-color="green"] {
    background-color: #6bd098;
}

.card .image {
    overflow: hidden;
    height: 200px;
    position: relative;
}

.card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}


.card-user .image {
    height: 130px;
}

.card-user .image img {
    border-radius: 12px;
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -77px;
}

.card-user .author a+p.description {
    margin-top: -7px;
}

.card-user .avatar {
    width: 124px;
    height: 124px;
    border: 1px solid #FFFFFF;
    position: relative;
}

.card-user .card-body {
    min-height: 240px;
}
h1{
    color: white;
    margin-left: 50px;

    padding-top: 10px;
}
.card-header{
    height: 130px;
    border-radius: 12px 12px 0px 0px;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color:  #FE980F;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: red;
}
.btnupdate{
    float: left;
    margin-left: 40px;
}
.btn.btn-primary2{
    margin: 30px;
    height: 35px;
    background: #FE980F;
    width: 150px;
    color: #FFFFFF;
}
.btnChangepassword{
    float: left;
    margin-top: 30px;
    margin-left: 130px;
    padding-right: 50px;

}
.col-md-11{
    margin-left: 25px;
    margin-top: 20px;
}


